# --- Python / Django ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
env/
*.env

# Django static and media files
staticfiles/
media/


# backend/core/migrations/

# --- Node / React ---
node_modules/
build/
dist/
.cache/
*.log

# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Coverage / Testing ---
.coverage
htmlcov/
*.cover
*.py,cover
coverage.xml